<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/flick/jquery-ui.css" />
 <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<style type="text/css">
.ui-menu .ui-menu-item a,.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
  text-align:left;
  font-size:14px;
  }
.ui-autocomplete-loading { background: white url("/images/ui-anim_basic_16x16.gif") right center no-repeat; }
</style>
 
<script type="text/javascript">
 
jQuery(function () 
 {
   jQuery("#search").autocomplete({
    source: function (request, response) {
     jQuery.getJSON(
      "http://gd.geobytes.com/AutoCompleteCity?callback=?&q="+request.term,
      function (data) {
       response(data);
      }
     );
    },
    minLength: 3,
    select: function (event, ui) {
     var selectedObj = ui.item;
     jQuery("#search").val(selectedObj.value);
     return false;
    },
    open: function () {
     jQuery(this).removeClass("ui-corner-all").addClass("ui-corner-top");
    },
    close: function () {
     jQuery(this).removeClass("ui-corner-top").addClass("ui-corner-all");
    }
   });
   jQuery("#search").autocomplete("option", "delay", 100);
  });

</script>
 <!--
<form action="" method="post" name="form_demo" id="form_demo" enctype="multipart/form-data" onsubmit="return false;">
<p><b>Please enter</b> your city here to see it work. <input class="ff_elem" type="text" name="ff_nm_from[]" value="" id="f_elem_city"/>
</form>
-->

<!-- <div id="splash-container">
  <img src="/sliderbg-2.jpg" id="splash">

  <div class="group" id="root-page-search-bar-container">
    <h1>Find a venue</h1>
    <h3>Rent from over 20 fake users</h3>
  <form action="<%= spaces_url %>" class="group" id="root-page-search-bar"> -->

<!-- <form action="<%= spaces_url %>" method="get" name="form_demo" id="anything" enctype="multipart/form-data" onsubmit="return false;">
<form action="#" class="group" id="root-page-search-bar">

<input class="text-input input-large" type="text" name="space_filters[city]" value="" id="search" placeholder="Search">
</form>
</div>
 </div> -->
<!-- <form action="<%= spaces_url %>" method="get" name="form_demo" id="anything" enctype="multipart/form-data" onsubmit="return false;">
<input class="group" type="text" name="ff_nm_from[]" value="" id="header-search-input"/ placeholder="Search">
</form> -->

<form action="<%= spaces_url %>" method="get" name="form_demo" id="anything" enctype="multipart/form-data" onsubmit="return false;">
<input class="group text-input input-large" type="text" name="space_filters[city]" value="" id="root-input-city-name"/ placeholder="Search">
</form>



<div id="splash-container">
  <img src="/sliderbg-2.jpg" id="splash">

  <div class="group" id="root-page-search-bar-container">
    <h1>Find a venue</h1>
    <h3>Rent from over 20 fake users</h3>
  <!-- <form action="<%= spaces_url %>" class="group" id="root-page-search-bar"> -->
<form action="#" class="group" id="root-page-search-bar">
      <%= tag "input", type: "text-input",
                placeholder: "What city are you booking in? (NYC suggested)",
                       name: "space_filters[city]",
                      class: "text-input input-large",
                         id: "root-input-city-name" %>

      <%= select_numerical_given_options(html_name: "space_filters[guest_count]",
                                       plural_noun: "guests") %>

      <input type="submit" value="Search" class="button blue input-large" id="search-button">

    </form>
  </div>
</div>